<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<nav th:replace="~{fragments/layout.html :: nav}"></nav>
<div class="container-fluid" style="margin-top:80px">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div class="text-center">
                <h1>Úprava dat pojištěnce</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/insuredpersons/{id} (id=${insuredPerson.id})}" th:object = ${insuredPerson} method="POST">
                    <div class="form-group">
                        <label>Jméno pojištěnce</label>
                        <input
                                type="text"
                                name="name"
                                th:field="*{name}"
                                placeholder="Zadejte jméno a příjmení pojištěnce"
                                class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label>Ulice a číslo popisné</label>
                        <input
                                type="text"
                                name="street"
                                th:field="*{street}"
                                placeholder="Zadejte ulici a číslo popisné"
                                class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label>Město</label>
                        <input
                                type="text"
                                name="city"
                                th:field="*{city}"
                                placeholder="Zadejte město"
                                class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input
                                type="text"
                                name="email"
                                th:field="*{email}"
                                placeholder="Zadejte e-mail pojištěnce"
                                class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label>Telefonní číslo</label>
                        <input
                                type="text"
                                name="phoneNumber"
                                th:field="*{phoneNumber}"
                                placeholder="Zadejte telefonní číslo pojištěnce"
                                class="form-control"
                        />
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Uložit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</div>
</body>
</html>