<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<nav th:replace="~{fragments/layout.html :: nav}"></nav>
<div class="container-fluid" style="margin-top:80px">
    <div class="row">
        <div class="col-lg-10 col-md-6 col-sm-6 container justify-content-center">
            <div class="text-center">
                <h1>Výpis pojištěnců</h1>
            </div>
            <div class="container-fluid">
                <a class="btn btn-primary btn-sm mb-3" th:href="@{/insuredpersons/new}">Vložit nového pojištěnce</a>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Jméno a příjmení</th>
                        <th scope="col">Ulice</th>
                        <th scope="col">Město</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefonní číslo</th>
                        <th scope="col">Volba</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="insuredPerson: ${insuredPersons}">
                        <td>
                            <a th:href="@{/insuredpersons/detail/{id} (id=${insuredPerson.id})}"
                               th:text="${insuredPerson.name}"></a>
                        </td>
                        <td th:text="${insuredPerson.street}"></td>
                        <td th:text="${insuredPerson.city}"></td>
                        <td th:text="${insuredPerson.email}"></td>
                        <td th:text="${insuredPerson.phoneNumber}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{/insuredpersons/edit/{id} (id=${insuredPerson.id})}">Upravit</a>
                            <a class="btn btn-danger"
                               th:href="@{/insuredpersons/{id} (id=${insuredPerson.id})}">Vymazat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</div>
</body>
</html>