<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<nav th:replace="~{fragments/layout.html :: nav}"></nav>
<div class="container-fluid" style="margin-top:80px">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div class="text-center">
                <h1>Registrace nového uživatele</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/register}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label>Jméno a příjmení</label>
                        <input
                                class="form-control"
                                name="name"
                                placeholder="Zadejte jméno a příjmení uživatele"
                                type="text"
                                th:errorClass="is-invalid"
                                th:field="*{name}"
                        />
                        <div class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                    </div>
                    <div class="form-group">
                        <label>Uživatelské jméno (E-mail)</label>
                        <input
                                type="text"
                                name="email"
                                placeholder="Zadejte e-mail uživatele"
                                class="form-control"
                                th:field="*{email}"
                                th:errorClass="is-invalid"
                        />
                        <div class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
                    </div>
                    <div class="form-group">
                        <label>Heslo</label>
                        <input
                                type="password"
                                name="password"
                                placeholder="Zadejte heslo"
                                class="form-control"
                                th:field="*{password}"
                                th:errorClass="is-invalid"
                        />
                        <div class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
                    </div>
                    <div class="form-group">
                        <label>Heslo pro ověření</label>
                        <input
                                type="password"
                                name="confirmPassword"
                                placeholder="Zadejte heslo znovu"
                                class="form-control"
                                th:field="*{confirmPassword}"
                                th:errorClass="is-invalid"
                        />
                        <div class="text-danger" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}"
                             >Hesla se musí shodovat</div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">
                            Uložit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</div>
</body>
</html>